// Colours
$main-orange: #EC6C3B;
$main-red: #CE443C;
$main-teal: #009BA8;
$main-navy: #002148;
$main-lightgrey: #212A33;
$main-darkgrey: #171D22;

// Fonts
$header-font: futura-pt-bold, sans-serif;
$body-font: 'Open Sans', sans-serif;