#homeSection {
    padding: 3%;
    margin-bottom: 100px;
}

#mediaSelectSection {
    background-color: $main-lightgrey;
}

#mediaSelectHeader {
    background-color: $main-darkgrey;
    padding: 1%;
    h4 {
        color: $main-teal;
    }

    p {
        color: white;
    }
}

#mediaSelectAdultNav {
    width: 100%;
    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 30px;
            width: 30%;
            text-align: center;
            cursor: pointer;
            img {
                display: inline;
                width: 20%;
                margin-right: 30px;
            }
            h2 {
                display: inline;
            }
        }

        li:hover {
            h2 {
                border-bottom: solid 4px white;
            }
        }
    }
}

#mediaSelectChildNav {
    width: 100%;
    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 30px;
            width: 30%;
            text-align: center;
            cursor: pointer;
            img {
                display: inline;
                width: 20%;
                margin-right: 30px;
            }
            h2 {
                display: inline;
            }
        }

        li:nth-child(1){
            background-color: $main-red;
        }
        li:nth-child(2) {
            background-color: $main-teal;
        }
        li:nth-child(3) {
            background-color: $main-navy;
        }

        li:hover {
            h2 {
                border-bottom: solid 4px white;
            }
        }
    }
}

// .accordion {
//     background-color: $main-darkgrey;
// }

// #accordionHeading {
//     background-color: $main-darkgrey;
//     border: none;
//     padding: 1%;
//     h4 {
//         color: $main-teal;
//     }

//     p {
//         color: white;
//     }
// }

// .card-header {
//     color: white;
//     text-align: left;
//     img {
//         width: 4%;
//         float: left;
//         background-color: white;
//         border-radius: 35px;
//         padding: 5px;
//         margin: 10px 40px 5px 10px;
        
//     }
//     .btn-link {
//         font-size: 1em;
//         text-transform: uppercase;
//         color: white;
//         margin-left: 0px;
//     }
// }

// #headingOne {
//     background-color: $main-teal;
// }

// #headingTwo {
//     background-color: $main-orange;
// }

// #headingThree {
//     background-color: $main-red;
// }

// .card-body {
//     background-color: $main-lightgrey;
// }

.mediaInfo {
    img {
        width: 90%;
    }
}