#homeSection {
    h2 {
        padding: 2%;
    }
}

#mediaSelectSection {
    background-color: $main-lightgrey;
    width: 100%;
}

#mediaSelectHeader {
    background-color: $main-darkgrey;
    padding: 2%;
    h4 {
        color: $main-teal;
        margin-bottom: 10px;
    }

    p {
        color: white;
    }
}

.mediaSelectNav {
    text-align: center;
    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 20px;
            width: 30%;
            text-align: center;
            cursor: pointer;
            img {
                width: 50%;
            }
            h2 {
            }
        }

        li:nth-child(1):hover {
            h2 {
                border-bottom: solid 4px $main-red;
            }
        }
        li:nth-child(2):hover {
            h2 {
                border-bottom: solid 4px $main-teal;
            }
        }
        li:nth-child(3):hover {
            h2 {
                border-bottom: solid 4px $main-navy;
            }
        }
    }
}

.filterNav {
    a {
        color: white;
        font-family: $header-font;
       // text-transform: uppercase;
        display: inline;
        font-size: 2.4em;
    }
}

#decadeNav {
    background-color: red;;
    ul {
        list-style-type: none;
        display: inline;
        li {
            display:inline;
        }
    }
}

.movieLibrary {
    padding: 2%;
}

#mediaSelectNavChild {
    ul {
        li:nth-child(1){
            background-color: $main-red;
        }
        li:nth-child(2) {
            background-color: $main-teal;
        }
        li:nth-child(3) {
            background-color: $main-navy;
        }
        li:hover {
            h2 {
                border-bottom: solid 4px $main-white;
            }
        }
    }
}

#movieLibrary {
    background-color: $main-red;
}

.mediaInfo {
    cursor: pointer;
    img {
        width: 90%;
    }
}

@media (min-width: 992px) { 
    .mediaSelectNav {
        ul {
            li {
                display: inline-block;
                padding: 30px;
                width: 30%;
                text-align: center;
                cursor: pointer;
                img {
                    display: inline;
                    width: 20%;
                    margin-right: 30px;
                }
                h2 {
                    display: inline;
                }
            }
    
            li:hover {
                h2 {
                    border-bottom: solid 4px white;
                }
            }
        }
    }
}