#mainHeader {
    //width: 100%;
    .navbar-brand {
        font-size: 2em;
        span {
            font-size: .5em;
            display: block;
            text-align: left;
        }
    }

}

#mainNav {
    ul {
        list-style-type: none;
        display: inline;

        li {
            display: inline;
            font-size: 1em;
            margin-left: 20px;

            img {
                width: 6%;
                cursor: pointer;
            }
        }
    }
}

